.creator-row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.creator-col1{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 33%;
}

.creator-col1 img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: fill;
    margin-bottom: 10px;
}

.creator-col1 p{
    margin-bottom: 10px;
    font-size: 25px;
}

.creator-col1 div i{
    cursor: pointer;
    margin-right: 15px;
    font-size: 35px;
    color: rgb(39, 108, 211);
    transition: color 0.5s;
}

.creator-col1 div i:hover{
    color: white;
}

.creator-col2{
    margin-left: 10px;
    flex-basis: 66%;
}

.title{
    font-size: 60px;
}

.creator-col2 p{
    font-size: 25px;
    line-height: 35px;
}