header {
    position: relative;
    padding: 10px 5%;
    padding-bottom: 150px;
}

header::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    background-image: url(imgs/header-background.png);
    background-size: cover;
    background-position: center;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: none;
}

.logo{
    display: flex;
    align-items: center;
}

.logo i{
    margin-right: 10px;
    font-size: 60px;
    color: rgb(39, 108, 211);
}

.logo a{
    text-decoration: none;
    color: white;
    font-size: 50px;
    font-weight: 600;
}

.logo span{
    color: rgb(39, 108, 211);
}

.links{
    display: flex;
    list-style: none;
    align-items: center;
}

.links i{
    display: none;
}

.links li{
    margin-right: 30px;
}

.links li a{
    text-decoration: none;
    font-size: 20px;
    color: white;
    position: relative;
}

.links li a::after{
    content: '';
    background-color: rgb(39, 108, 211);
    width: 0;
    height: 3px;
    bottom: -6px;
    left: 0;
    position: absolute;
    transition: width 0.5s;
}

.links li a:hover::after{
    width: 100%;
}

.navbar .fas{
    padding-top: 5px;
    display: none;
}

.about{
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about h1{
    background: linear-gradient(to right , #acd6f1, rgb(39,108,211));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;   
    margin-bottom: 20px;
    font-size: 80px;
    letter-spacing: -4px;
    text-align: center;
}

.about h2{
    position: relative;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    margin: 0 20%;
    color: rgb(172, 171, 171);   
    margin-bottom: 50px;
}

.about h2::after{
    content: '';
    position: absolute;
    left: 42.5%;
    bottom: -10px;
    height: 4px;
    width: 15%;
    background-color: white
}

.about a{
    text-decoration: none;
}

.about a button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background-color: rgb(39, 108, 211);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
}

.about a button i{
    font-size: 30px;
}

.about a button div{
    margin-left: 10px;
    font-size: 20px;
}