.tipout{
    padding: 0 25px;
}

.tipout-format{
    margin-top: 50px;
    display: none;
    opacity: 0;
    flex-direction: column;
    align-items: center;
}

.tipout-format h1{
    font-size: 50px;
    margin-bottom: 10px;
}

.tipout-format div label{
    font-size: 25px;
}

.tipout-format div select{
    padding: 0 5px;
    font-size: 20px;
    color: black;
}
.tipout-menu{
    margin-top: 50px;
    display: none;
    opacity: 0;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.tipout-menu form{
    margin-right: 70px;
}

.tipout-menu form h1{
    font-size: 50px;
}

.tipout-menu form div{
    margin-top: 25px;
    align-items: center;
    display: flex;
}

.tipout-menu form div label{
    font-size: 30px;
}

.tipout-menu form div input, .tipout-menu form div select {
    margin-left: 15px;
    padding: 5px 5px;
    font-size: 20px;
    color: black;
} 

.tipout-menu form div.input-wrapper{
    margin-top: 0;
    position: relative;
}

.tipout-menu form div.input-wrapper input{
    padding-left: 16px;
}

.tipout-menu form div.input-wrapper i{
    position: absolute;
    top: 51%;
    left: 20px;
    transform: translateY(-50%);
    color: black;
    font-size: 18px;      
}

.tipout-menu form button{
    margin-top: 30px;
    font-size: 30px;
    padding: 15px 40px;
    border-style: solid;
    border-color: rgb(39, 108, 211);
    background: none;
    border-radius: 15px;
    color: white;
    cursor: pointer;
    transition: background-color 0.5s, transform 0.10s;
}

.tipout-menu form button:hover{
    background-color: rgb(39, 108, 211);
}

.tipout-menu form button:active{
    transform: scale(.97);
}

.tipout-menu-calculated{
    opacity: 0;
    display: none;
}

.tipout-menu-calculated form{
    margin-right: 0;
}

.tipout-calculated{
    margin-bottom: 20px;
    flex-direction: column;
}

.tipout-calculated h1{
    font-size: 45px;
}

.tipout-calculated h2{
    font-size: 25px;
    font-weight: 400;
}

.disabled-input{
    background-color: white;
    color: black;
    pointer-events: none;
    opacity: 1;
}

.reset-button{
    display: none;
}
